{% extends "main.html" %}
{% load static %}
{% block title %}History{% endblock %}

{% block content %}
<body>
    <div class="back">
        <a href="http://127.0.0.1:8000/signup">
    
            <i class="fa-solid fa-less-than"></i>
        </a>
    </div>
    <div class="container2">
        <div class="info">
            <H1>Complaint History</H1>
        </div>
        <div class="history">
            <div class="listMenu">
                <ul>
                    <li>Date</li>
                    <li>Category</li>
                    <li>Room</li>
                    <li>Date</li>
                </ul>
            </div>
            <div class="listItems">
                <ul>
                    <li>Date</li>
                    <li>Category</li>
                    <li>Room</li>
                    <li>Date</li>
                </ul>
            </div>
        </div>
    </div>
</body>

{% endblock %}