{% extends "main.html" %}
{% load static %}
{% block title %}History{% endblock %}

{% block content %}
<body>
    <div class="back">
        <a href="{% url 'myapp:home' %}">
    
            <i class="fa-solid fa-less-than " style="color: #000;"></i>
        </a>
    </div>
    <div class="container4">
        <div class="info">
            <H1>Complaint History</H1>
        </div>
        <div class="history">
            <div class="listMenu">
                {% csrf_token %}
                <ul>
                    <li>Date</li>
                    <li>Category</li>
                    <li>Room</li>
                    <li>Status</li>
                </ul>
            </div>
            {% for issue in issues %}
            <div class="listItems">
                <ul>
                    <li>{{issue.created.date}}</li>
                    <li>{{issue.category}}</li>
                    <li>{{issue.room_number}}</li>
                    <li>
                            {% if issue.solved == False%}
                            <i class="fa-solid fa-circle-xmark fa-lg" style="color: #cc0e00;"></i>
                            {% else %}
                            <i class="fa-solid fa-circle-check fa-lg" style="color: #2ec106;"></i>
                            {% endif%}
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://kit.fontawesome.com/34b015c649.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/index.js' %}"></script>

</body>

{% endblock %}