{% extends "main.html" %}
{% load static %}
{% block title %}History{% endblock %}

{% block content %}
<body>
    <div class="back">
        <a href="{% url 'myapp:home' %}">
    
            <i class="fa-solid fa-less-than"></i>
        </a>
    </div>
    <div class="container4">
        <div class="info">
            <H1>Complaint History</H1>
        </div>
        <div class="history">
            <div class="listMenu">
                <ul>
                    <li>Date</li>
                    <li>Category</li>
                    <li>Room</li>
                    <li>Status</li>
                </ul>
            </div>
            <div class="listItems">
                <ul>
                    <li>Date</li>
                    <li>Category</li>
                    <li>Room</li>
                    <li>Solved</li>
                </ul>
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/34b015c649.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/index.js' %}"></script>

</body>

{% endblock %}