{% extends 'main.html' %}
{% load static %}
{% block title %}help{% endblock %}

{%  block content %}
<body>
    <div class="back">
        <a href="http://127.0.0.1:8000/signup">
            <i class="fa-solid fa-bars"></i>
    
        </a>
    </div>
    <div class="container3">
        <div class="info">
            <h1>Help</h1>
        </div>
        <div class="helpList">
            <ul>
                <li>Can't submit a complaint</li>
                <li>Have not been attended to a complaint</li>
                <li>Submitted wronge details for complaint</li>
                <li>Not satisfied with service</li>
                <li>Report Unprofessional attitude from staff</li>
                <li>Make suggestions about app</li>
                <li>Speak to a customer service </li>

            </ul>
        </div>
    </div>
</body>

{% endblock %}