{% extends "main.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}

<body>
    <div class="back" onclick="displayMenu()">  
            <i class="fa-solid fa-bars"></i>
    </div>
    <div class="container">
        <div class="LogInfo">
            <h1>Report an issue</h1>
        </div>
        <div class="FormArea">

            <form method="POST"  class="formInputs">
                {% csrf_token %}
                <div class="FIn">
                <label class="InLabel" for="category">Category</label>
                <div class="custom-select">
                    <select name="category" placeholder="Eg. Water" id="floatingPassword">
                        <option value="CA">Capentry</option>
                
                        <option value="WA">Water</option>
                
                        <option value="LI">Light-</option>
                
                        <option value="FU">Furniture</option>
                
                        <option value="LI">Illigal Behaviour</option>
                
                    </select>
                    <div class="select-items select-hide">
                        <div>Capentry</div>
                        <div>Water-</div>
                        <div>Light</div>
                        <div>Furniture</div>
                    </div>
                </div>
                </div>

                <div class="FIn">
                    <label class="InLabel" for="room_number">Room number</label>
                    <div>
                        <input type="text" class="inputText" name = "room_number" placeholder="eg. 1000" required>
                    </div>
                </div>
                <div class="FIn">
                    <label class="InLabel" for="description" >Description</label>
                    <div>
                        <textarea class="textInput1" name="description" id="description" cols="30" rows="10" placeholder="type here"></textarea>
                    </div>
                </div>


                <div class="signArea">

                    

                        <button class="btnNav" type="submit">
                            Submit
                        </button>
                    
                </div>
            </form>
        </div>

        <div class="info">
        </div>

    </div>
    <div class="sideMenu" id="sidemenu">
        <div class="back1">
                <div id="menuIn"  onclick="slideMenu()">
                    <i  class="fa-solid fa-less-than" ></i>

                </div>
        </div>
        <div class="container1">
            <div class="profile">
                <div class="profileImg">
                    <i class="fa-solid fa-user" style="color: #ffffff;"></i>
                </div>
                <div class="userN"><p>{{user.username}}</p></div>
            </div>
            <div class="contentL">
                <div class="content">
                    <i class="fa-solid fa-pen iconM"></i>

                    <a href="">Edit Profile</a>
                </div>
                <div class="content">
                    <i class="fa-solid fa-clock-rotate-left iconM" style="color: #ffffff;"></i>
                    <a href="{% url 'myapp:history' %}">Complaint Histroy</a>
                </div>
                <div class="content">
                    <i class="fa-regular fa-file-lines fa-rotate-180 iconM" ></i>
                    <a href="{% url 'myapp:history' %}">Complaint Details</a>
                </div>
                <div class="content">
                    <i class="fa-solid fa-lock iconM" ></i>
                    <a href="{% url 'myapp:changePin' %}">Change Pin</a>
                </div>
            </div>
            <div class="endFooter">
                <hr>
                <div class="footer">
                    <i class="fa-solid fa-gear iconM"></i>
                    <a href="">Settings</a>
                </div>
                <div class="footer">
                    <a href="{% url 'myapp:help' %}">Help</a>
                </div>
                <div class="footer">
                    <a href="">FAQ</a>
                </div>
                <div class="footer">
                    <a href="{% url 'myapp:logout' %}">Logout</a>
                </div>

            </div>

        </div>
    </div>
    <script src="https://kit.fontawesome.com/34b015c649.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/index.js' %}"></script>

</body>

{% endblock %}