{% extends "main.html" %} {% load static %} 
{% block title %}Login{% endblock %}
 {% block content %}
<body>
    
<div class="container">
    <div class="logo">
        <img src="{% static 'assets/logo.png' %}" alt="logo">
    </div>
    <div class="LogInfo">
        <h1>Log into your account</h1>
    </div>
    {% if messages %}{%for message in messages %}
        <ul class="messagelist">
            <li class="success">{{message}}</li>
        </ul>
    
    {% endfor%}{% endif %}
        <div class="FormArea">
            <form method="POST" class = "formInputs">

                {% csrf_token %}
                <div class="FIn">
                    <label class="InLabel" for="email">ID Number/Email</label>
                    <div>
                        {{ form.username }}
                    </div>
                </div>

                <div class="FIn">
                    <label class="InLabel" for="Pin">Pin</label>
                    <div>
                        {{ form.password }}
                    </div>
                </div>


                <p class="forgetP">
                    <a href="#" class = "small text-muted">Forgot your password</a>
                </p>
                <div>
                        
                        <button class=" btnNav" type = "submit">
                            Login
                        </button>
                    </div>
                    <a href="{% url 'myapp:signup' %}">signup instead</a>
            </form>
        </div>
        
    <div class="info">
    </div>

</div>
</body>
{% endblock %}
