{% extends "main.html" %}
{% load static %}
{% block title %}Change Pin{% endblock %}

{% block content %}

<body>

    <body>

        <div class="container3">
            <div class="info">
                <h1>Change Successful</h1>
            </div>
            <div>

                

                    <div class="btnArea">
                    
                        <a href="{% url 'myapp:home' %}">
                    
                            <button class=" btnNav1" type="submit">
                                Go Back to Home
                            </button>
                        
                    
                    </div>
            </div>
        </div>
    </body>
    {% endblock %}